{% extends 'main/base.html' %}

{% block tittle%}
new password
{%endblock%}

{% block main%}
<h3 style="width: 100%;" class="dark container center mb-4 mt-5">Новый пароль:</h3>
<p class="text-center" style="color: rgb(218, 30, 30);">{{error}}</p>
<form method="post" style="width: 100%;" class="container center">
        {% csrf_token %}
        <input name="p1" type="password" class="form-control mt-2" placeholder="Введите новый пароль"/>
        <input name="p2" type="password" class="form-control mt-2" placeholder="Повторите новый пароль"/>
        <button type="submit" class="btn btn-success mt-4">Создать новый пароль</button>
      
</form>
{% endblock %}