{% extends 'main/base.html' %}

{% block tittle%}
registration
{%endblock%}

{% block main%}
<h3 style="width: 40%;" class="dark container center mb-4">Регистрация</h3>
<p class="text-center" style="color: rgb(218, 30, 30);">{{error}}</p>
<form method="post" style="width: 100%;" class="container center">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-success mt-4">Получить код</button>
        <a href="{% url 'login' %}" class=" mt-3" style="display: inline-block; color: rgb(73, 69, 69); width: 70%; text-align: right;">
            Есть аккаунт?
        </a>
        
</form>
{% endblock %}